h1 {
    color: red;
}

body {
    background-image: url(assets/willowbeach_photo.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#box {
    padding: 100px;
    background-color: white;
    opacity: 75%;
    border: 1px solid black;
    height: 500px;
    display: flex;
}

#fishingresult {
    padding: 10px;
    background-color: white;
    opacity: 75%;
    border: 1px solid black;
    display: flex;
}